#!/bin/bash
export OPTIONS="-v5 --s3-use-rrs --s3-use-multiprocessing --file-prefix-archive bulk- --full-if-older-than 30D --exclude-device-files --exclude /tmp --exclude /proc --exclude /sys --exclude /dev --exclude /swap --asynchronous-u
pload"
export PASSPHRASE="{{ S3Pass }}"
export AWS_ACCESS_KEY_ID="{{ S3Access }}"
export AWS_SECRET_ACCESS_KEY="{{ S3Secret }}"
export ENDPOINT={{ S3Endpoint}}
echo duplicity $OPTIONS / $ENDPOINT
duplicity $OPTIONS / $ENDPOINT
